*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
}
.home-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(110deg, white 68%, #ffc800 32%);
    
}
.home-section-2{
    width: 100%;
    height: 100vh;
}
/* navbar */
#logo{
    font-size: 30px;
    margin-left: 30px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
#logo img{
    margin-bottom: 10px;
}
#logo span{
    color: #ffc800;
}
.nav-item{
    margin-left: 30px;
}
.nav-item .nav-link{
    color: black;
    font-weight: bold;
    transition: 0.5s ease;
}
#first-child{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
}
.nav-item .nav-link:hover{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
}
.icons{
    margin-right: 30px;
}
.icons i{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:982px){
    .icons{
        margin-left: 25px;
    }
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home .img{
    flex: 1 1 300px;
}
.home .img img{
    width: 92%;
    animation: c 5s linear infinite;
}
@keyframes c{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(30px);
    }
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h1{
    margin-left: 80px;
    font-size: 65px;
    font-weight: bold;
    text-shadow: -1px 0px 0px black;
}
.content h1 span{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    font-size: 100px;
    font-weight: bold;
}
.content p{
    margin-left: 80px;
}
#btn{
    margin-left: 80px;
}
#btn button{
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn button:hover{
    background-color: #ffc800;
    color: black;
    border: none;
}
#btn span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width:1200px){
    .home-section{
        height: 90vh;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 140vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 110vh;
    }
}
@media screen and (max-width:420px){
    .content h1 span{
        font-size: 80px;
    }
}
@media screen and (max-width:260px){
    .content h1{
        font-size: 50px;
    }
    .content h1 span{
        font-size: 60px;
    }
}
/* home content */
/* top icons */
/* #top-icons{
    margin-top: 50px;
}
#top-icons h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid #ffc800;
    text-shadow: 1px 1px 1px black;
}
#top-icons i img{
    width: 100px;
}
#top-icons h3{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    margin-left: 20px;
} */
/* top icons */

/* cards */
/* .menu{ */
   /* padding-top: 90px; */
    /* flex: 1 1 400px; */
    /* margin-top: 80px; */

.menu h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5%;
    margin-left: 7.5%;
    font-size: 60px;
    font-weight: bold;
    text-shadow: -1px 0px 0px black;
}
.menu h1 span{
    color: #ffc800;
    text-shadow: 1px 1px 1px black;
    font-size: 60px;
    font-weight: bold;
}
#cards{
    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
}
#cards .card h3{
    color: #ffc800;
    font-weight: bold;
}
#cards .card p{
    color: #ffc800;
    font-weight: bold;
}
/* #rn{
    width: 150px;
    height: 32px;
    border: none;
    background: transparent;
    color: #ffc800;
    border: 2px solid #ffc800;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    transition: 0.5s ease;
    cursor: pointer;
}
#rn:hover{
    background-color: #ffc800;
    color: white;
} */
/* cards */

/* burger */
#burger{
    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
}
#burger h1{
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    border-bottom: 2px solid #ffc800;
    text-shadow: 1px 1px 1px black;
}
#burger .card{
    transition: 0.5s ease;
    cursor: pointer;
}
#burger .card:hover{
    background-color: #ffc800;
}
#burger .card h3{
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
#burger .card h5 span{
    color: black;
    font-weight: 700;
    float: right;
}
#burger .card h4 span{
 color: #000000;
 float: left;
 background-color: #ffc800;
    border:#ffffff;

}
/* burger */



/* banner */
.banner{
    margin-top: 100px;
    width: 100%;
    height: 60vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./images/banner.png);
    background-size: cover;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.banner h3{
    padding-top: 132px;
    color: #ffc800;
    font-size: 32px;
}
.banner p{
    color: #ffc800;
}
#btnorder{
    width: 200px;
    height: 32px;
    background: transparent;
    color: #ffc800;
    border: 2px solid #ffc800;
    transition: 0.5s ease;
}
#btnorder:hover{
    background-color: #ffc800;
    color: white;
    text-shadow: 1px 1px 1px black;
}
/* banner */

/* top cards */
#topcards{
    margin-top: 50px;
}
#topcards .card{
    background-color: #ffc800;
    transition: 0.5s ease;
}
#topcards .card:hover{
    transform: translateY(-10px);
}
/* top cards */


/* about */
#about{
    margin-top: 100px;
}
#about h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid #ffc800;
    text-shadow: 1px 1px 1px black;
}
#about h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid #ffc800;
    text-shadow: 1px 1px 1px black;
}
#about p{
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    font-weight: 500;
}
#readmorebtn button{
    width: 200px;
    height: 32px;
    background: transparent;
    border: 2px solid #ffc800;
    color: #ffc800;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
#about .card{
    background-color: #ffc800;
}
#readmorebtn button:hover{
    background-color: #ffc800;
    color: white;
}
/* about */







/* contact */
#contact{

    margin-top: 40px;
    border: 2px solid #ffc800;
}
#h2{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-family:  'Roboto Slab', serif;
    border-bottom: 2px solid #ffc800;
    text-shadow: 1px 1px 1px #ffc800;
}
#contact h3{
    font-weight: bold;
    margin-top:20px;
    padding-bottom:15px;
    margin-bottom:20px;
    font-family: -webkit-body;
    border-bottom: 2px solid #ffc800;
    /* text-align: center; */
    margin-left:10px;
    text-shadow: 2px 1px 1px #ffc800;
}
#contact input{
    width: 500px;
    margin-top: 40px;
    height: 42px;
    margin-top: 30px;
    background-color: #ffc800;
    border: none;
    border-radius:14px;
}
#contact ::placeholder{
    color: #000000;
    font-family: 'Roboto Slab', serif;
    padding-left: 12px;
    font-weight: bold;
}
#btnmessage{
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffc800;
    letter-spacing: 4px;
    font-weight: bold;
    transition: 0.5s ease;
    border-radius:15px;
}
#btnmessage:hover{
    background-color: #ffc800;
    color: white;
}
#contact i{
    margin-top:2px;
    padding-top:20px;
    color: #000000;
    display:flex;
    font-size: 20px;
}
#contact i span{
    font-family:'Roboto Slab', serif;
    padding-left:15px;
}
@media screen and (max-width:1200px){
    #contact input{
        width: 350px;
    }
}
@media screen and (max-width:385px){
    #contact input{
        width: 250px;
    }
}
/* contact */

/* footer */
#footer{
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    background: rgb(0, 0, 0);
    font-weight: bold;
    text-shadow: 1px 0px 1px black;
    padding-bottom:20px;
}
#footer .footer-top{
    padding: 20px 030px;
    border: px solid #ffc800;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background: linear-gradient(30deg, rgb(0, 0, 0) 55%, #ffc800 32%);
    color: #ffffff;
    
}

#logo2 img{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
#footer .footer-top .footer-contact h4{
    font-size: 5px;
    margin: 0 o 300px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 15px;
    color: white;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top h4{
     font-size: 25px;
     margin-top:5%;
     font-weight: bold;
     position: relative;
}

#footer .footer-top .footer-links ul li a:hover{
    color: #000000;
}
#footer .footer-top .socail-links a{
    font-size: 30px;
    display: inline-block;
    color: #ffffff;
    line-height: 1;
    padding-right: 5px;
    text-align: center;
    width: 60px;
    height: 36px;
    transition: 0.5s ease;
    cursor: pointer;
}
#footer .footer-top .socail-links a:hover{
    color: #000000;
}
#footer .copyright{
    text-align: center;
    float: left;
}
#footer .credits{
     float:right;  
    
    
}
/* footer */





.arrow{
    position: fixed;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}
.arrow i{
    color: black;
    font-size: 30px;
}
